@import url('https://fonts.googleapis.com/css?family=Roboto:100,200,300,400,500,600,700|Ubuntu:100,200,300,400,500,600,700');


/*--------------------------------------Background colors--*/

.bg-color-title {
    background-color: #d3d3d3;
}

.bg-color-header {
    background: #D3D3D3;
}

/*--------------------------------------Header-------------*/

.band-image {
    position: relative;
    vertical-align: middle;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    color: #2f2f2f;
    max-width: 400px;
    margin: 0 auto;
    padding-top: 30px;
    padding-bottom: 30px;
    
}

.inline-block {
    
    display: inline-block;
}

.nav-bar {
    padding-top:20px;
    padding-bottom:25px;
    line-height:100px;
}

.navbar-default {
    background-color: #353535;
    border-color: #b8c2c7;
    padding-left: 20px;
    font-family: "Ubuntu", sans-serif;
    font-size: 20px;
    
}



.nav-style {
    
    text-align: center;
    
}


/*-----------------------------Headings-------*/

h1  {
    font-family: "Ubuntu", sans-serif;
    font-weight: 700;
    font-size: 4em;
}



.heading-band {
    padding-top: 10px;
    padding-bottom: 30px;
    font-family: "Roboto";
    font-weight: bold;
}

.block-break {
    margin-top: 20px;
    margin-bottom: 20px;
    border: 0;
    width: 100px;
    border-radius: 20px;
    height: 5px;
    background-color: black;
}

/*-----------------------------Band Members---*/

.media-object {
    margin-top: 50px;
    display: block;
}

.band-member-image {
    display: inline-block;
    margin: auto;
    padding-left: 20px;
    padding-right: 20px;
}

.dj-image {
    
}